.container {
    width: 1100px; 
    margin: 20px auto 0 auto;   /* top right bottom left*/
    font-size: x-large;
}

.W, .log, .get {

    font-size: larger;
    float: left;
    
}

.W {
    width: 60%;
    font-style: italic;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    
    
}



.log {
    width: 15%;
    color: rgb(48, 25, 133);
}

.get {
    width: 25%;
    color: rgb(107, 76, 218);
}

.clear {
    content: "";
    display: table;
    clear: both;
}

.bold1 {
    float: left;
    font-size: 50px;
    width: 25%;
}

.bold {
    margin-top: 0;
    font-size: 20px ;
}


.imm {

    float: left;
    margin-left: 180px;
}